

.unselected_line {
    fill: none;
    stroke: lightgray;
    stroke-width: 2;
}

.selected_line {
    fill: none;
    stroke: steelblue;
    stroke-width: 5;
}


.input_line {
    fill: none;
    stroke: lightgray;
    stroke-width: 2;
}

.output_line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.teaser_line {
    fill: none;
    stroke: #4e79a7;
    stroke-width: 3;
}

.regression {
    stroke-width: 5px;
}

.orig_fig_line {
    stroke: #888888;
    stroke-width: 3;
    fill: none;
}



.overdraw_axis {
    font-size: 20px;
}

.page {
	display: table;
	width: 100%;
}
.page-content{
	display: table-cell;
	padding: 20px;
}
.sidebar {
	display: table-cell;
	width: 300px;
	min-width: 300px;
	padding: 20px;
	vertical-align: top;
}

.checkmark-container {
  display: block;
  /*width: 230px;*/
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.checkmark-container input:checked ~ .checkmark_opacity_1 {
  background-color: #4e79a7;
}
.opacity_1_line {
    stroke: #4e79a7;
    fill: none;
}

.checkmark-container input:checked ~ .checkmark_opacity_5 {
  background-color: #ff9da7;
}
.opacity_5_line {
    stroke: #ff9da7;
    fill: none;
}

.checkmark-container input:checked ~ .checkmark_opacity_10 {
    background-color: #59a14f;
}
.opacity_10_line {
    stroke: #59a14f;
    fill: none;
}


.checkmark-container input:checked ~ .checkmark_opacity_50 {
    background-color: #af7aa1;
}
.opacity_50_line {
    stroke: #af7aa1;
    fill: none;
}

.checkmark-container input:checked ~ .checkmark_opacity_100 {
    background-color: #f28e2c;
}
.opacity_100_line {
    stroke: #f28e2c;
    fill: none;
}


.checkmark-container input:checked ~ .checkmark_points_500 {
  background-color: #e15759;
}
.points_500_line {
    stroke: #e15759;
    fill: none;
}





.checkmark-container input:checked ~ .checkmark_points_2500 {
  background-color: #007bff;
}
.points_2500_line {
    stroke: #007bff;
    fill: none;
}




.checkmark-container input:checked ~ .checkmark_points_12500 {
  background-color: #984ea3;
}
.points_12500_line {
    stroke: #984ea3;
    fill: none;
}




.checkmark-container input:checked ~ .checkmark_overdraw_1 {
  background-color: #4e79a7;
}
.overdraw_1_line {
    stroke: #4e79a7;
    fill: none;
}

.checkmark-container input:checked ~ .checkmark_overdraw_10 {
    background-color: #59a14f;
}
.overdraw_10_line {
    stroke: #59a14f;
    fill: none;
}

.checkmark-container input:checked ~ .checkmark_overdraw_100 {
    background-color: #f28e2c;
}
.overdraw_100_line {
    stroke: #f28e2c;
    fill: none;
}
